<h1>Post Method</h1>
<form (submit)="onSubmit()">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" [(ngModel)]="comment.name" name="name">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" [(ngModel)]="comment.email" name="email">
    </div>
    <div class="form-group">
        <label>Body</label>
        <input type="text" class="form-control" [(ngModel)]="comment.body" name="body">
    </div>
    <input type="submit" class="btn btn-success" value="Submit">
</form>
<hr>
<div *ngFor="let comment of comments">
    <div class="well">
        <ul class="list-group">
            <li class="list-group-item">Name: {{ comment.name }}</li>
            <li class="list-group-item">Email: {{ comment.email }}</li>
            <li class="list-group-item">Body: {{ comment.body }}</li>
        </ul>
        <br>
    </div>
</div>